# Regression task - Bike sharing 2

In [0]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/mlcollege/introduction-to-ml/master/data/bikes.csv', sep=',')
data.head()

       dteday  season  yr  mnth  hr  ...   hum  windspeed  casual  registered  cnt
0  2011-01-01       1   0     1   0  ...  0.81        0.0       3          13   16
1  2011-01-01       1   0     1   1  ...  0.80        0.0       8          32   40
2  2011-01-01       1   0     1   2  ...  0.80        0.0       5          27   32
3  2011-01-01       1   0     1   3  ...  0.75        0.0       3          10   13
4  2011-01-01       1   0     1   4  ...  0.75        0.0       0           1    1

[5 rows x 16 columns]

## Add some features from the past

Since we have time stamp of every measurement, we can see the data as a time series and use data from the past. Add one or more feature columns computed from the data of the previous hour.

You can use the following pandas methods:
* [df.sort_values('column_name')](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html) - sorts the rows of a data frame by the column with name 'column_name'.
* [df.shift(periods)](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.shift.html) - Shifts index of a data frame by desired number of periods.

In [0]:
# TODO: Add features from the past
# 1. Sort data by dteday and hr to maintain time order
# 2. Create a new feature 'hist' by shifting the 'cnt' column by 1
# 3. Remove the first row (which has NaN in the 'hist' column)
# 4. Display the first few rows to verify

### Data preparation

Prepare train and test data sets.

In [0]:
from sklearn.model_selection import train_test_split

# TODO: Prepare the data
# 1. Select all features (including the new 'hist' feature)
# 2. Define X_all with features and y_all with target variable 'cnt'
# 3. Split data into training (80%) and test (20%) sets with random_state=1
# 4. Print train and test sizes

## Transform categorical attributes using one-hot encoding

It doesn't make sense to treat categorical attributes (eg. week day or weathersit) as numerical values. Use [One-hot encoding](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html) instead.

In [0]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

# TODO: Create a ColumnTransformer for feature preprocessing
# 1. Apply OneHotEncoder to categorical features (season, yr, mnth, hr, holiday, weekday, workingday, weathersit)
# 2. Apply StandardScaler to numerical features (temp, atemp, hum, windspeed, hist)
# 3. Store this in a variable called 'column_trans'

### Training a regressor

Train a regressor using the following models:
* [LinearRegression](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html)
* [Support Vector Machines for regression](http://scikit-learn.org/stable/modules/generated/sklearn.svm.SVR.html) (experiment with different kernels)
* [Gradient Boosted Trees](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingRegressor.html) (Experiment with different depths and number of trees)

In [0]:
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline

# TODO: Train regression models
# 1. Create a Pipeline combining the column_trans preprocessor with different regressors
# 2. Try LinearRegression and GradientBoostingRegressor
# 3. Fit the pipeline on the training data

### Evaluate the models

Measure mean squared error and mean absolute error evaluation metrics on both train and test data sets. Compute the mean and standard deviation of the target values. Decide which model performs best on the given problem.

In [0]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np

# TODO: Evaluate the model
# 1. Make predictions on test set
# 2. Print mean and std of target values
# 3. Calculate and print Root Mean Squared Error (RMSE)
# 4. Calculate and print Mean Absolute Error (MAE)
# 5. Evaluate on training set as well to check for overfitting